 .order-detail-p{
    width: 70%;
    /* height: 500px; */
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 70% 25%;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 0;
    font-size: 15px;
 }
 .order-detail-sum{ 
    height: fit-content;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
 }
 .order-detail-sum ul{
    display: grid;
    grid-template-columns: 40% 45%;
    gap: 4%;
 }

 .order-detail-sec2{
    display: grid;
    grid-template-rows: 1fr 1fr;
 }
 h1{
    font-weight: 500;
 }