 .order-detail-p{
    width: 80%;
    /* height: 500px; */
    background-color: #fff;
    /* background-color:#d9fdeb;  */
    display: grid;
    grid-template-columns: 3% 30% 67%;
    gap: 0%;
    justify-content: center; 
    border-radius: 8px;
    font-size: 15px;
    overflow: hidden;
   height: 440px;
 }
 .order-detail-sec{
  border-right: 1px solid gray;
 }
 .order-detail-sec2{
   display: flex; 
   height: 440px;
   flex-direction: column;
   padding: 0 5px;
 }
 .order-detail-sec { 
  padding: 0 5px;
  overflow-y: scroll;
  }
 .order-detail-sec section:nth-child(odd){
   background-color: #05050511;
  } 
 .order-detail-sec section:hover{
  background-color: #7272723f;
  } 
  .order-detail-sec2> li:nth-child(odd){
    background-color: #fff;
    background-color: #05050511;
  }
  .order-detail-sec2> li{ 
    padding: 5px 15px;
    border-radius: 6px;
  }
  .order-detail-sec2> li:hover{   
    background-color: #7272723f;
 }
 h1{
  font-size: 13px;
 }
 p{
  font-size: 12px;
 }
